<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.versionone.tm.timemanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.versionone.tm.timemanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Register_Activity" />
        <activity android:name=".view.Changepassword_Activity" />
        <activity android:name=".view.CreateEvent_Activity" />
        <activity android:name=".view.DetailEvent_Activity" />
        <activity android:name=".view.CreateEventP_Activity" />
        <activity android:name=".view.MainEvent_Activity" />
        <activity android:name=".view.Reedit_Activity" />

        <service android:name=".tools.Alarm_Notification" />

        <activity android:name=".view.Calculator_Activity"></activity>
        <activity android:name=".view.History_Event_list" />
        <activity android:name=".view.History_Event_detail"></activity>
    </application>

</manifest>